
<div class="services">
	<div class="row">
		<div class="left-column col-lg-4">
			<img class="img-fluid" src="./assets/img/2.jpg" alt="Placeholder">
		</div>
		<div class="right-column col-lg-8">
			<div class="process-item">
				<h1 class="title">The Second Heading <span class="grey-text">Is Pretty Cool Too.</span></h1>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
			</div>
		</div>
	</div>
</div>